{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}

    <div class="container mt-4">

        <h1 class=" text-center mt-4"> Formulaire d'inscrption </h1>

        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-primary mt-4" type="submit"> S'inscrire </button>
        {{ form_end(form) }}
    </div>
    
{% endblock %}
