{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="example-wrapper mt-4">
		<div class="jumbotron">
			<h1 class="display-4"> Bienvenue chez Tréfle</h1>
			<p class="lead"> 
                Pour favoriser la mutualisation des profils de nos spécialistes, le Groupe Trèfle intervient dans une grande diversité de secteurs. 
                Cette capacité à s’adapter aux métiers de nos clients fait partie des savoir-faire de nos collaborateurs.  
                Nous mettons les moyens nécessaires pour les former aux nouvelles technologies et aux nouvelles méthodes dans leur domaines. 
            </p>
			<hr class="my-4">
			<p>Pour commencer rendez-vous sur la page d'inscription pour utiliser l'application.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button"> Inscription </a>
		</div>

		<div class="recette">
			<h2 class="mt-4"> Recettes de la communauté</h2>

			<div class="d-flex justify-content-between">
				{% for recette in recettes %}
					<div class="card border-primary mb-3">
						<div class="card-header"> Receette numéro: {{ recette.id }}</div>
						<div class="card-body">
							<h4 class="card-title">{{ recette.nom }}</h4>
							<p class="card-text">{{ recette.description|slice( 0, 20) ~ "...." }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	</div>

{% endblock %}
