{% extends 'base.html.twig' %}

{% block title %} Ajouter une recette {% endblock %}

{% block body %}

	<h1 class='mt-4'> Ajouter une recette </h1>

	{{ include('recette/form.html.twig') }}

{% endblock %}
