{% extends "base.html.twig" %}

{% block title %} Mise à jour du mot de passe {% endblock %} 

{% block body %}

	<h1 class='mt-4'> Mise à jour du mot de passe  </h1>

	{{ form_start(form) }}

        {{ form_rest(form) }}

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-lg mt-4" type="submit"> Modifier </button>
        </div>

    {{ form_end(form) }}

{% endblock %}